#wrap .section1 {
    padding: 3rem 1.5rem 4rem;
    background-color: #e1eff9;
}
#wrap .section1 h2 {
    display: flex;
    font-size: 2rem;
    align-items: center;
    font-weight: 800;
    color: #486888;
}
#wrap .section1 h2 img {
    width: 10%;
    margin: -0.5rem 0.8rem 0;
}
#wrap .section1_1 .left {
    display: flex;
}
#wrap .section1 p {
    display: block;
    padding: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
}
#wrap .section1 p span {
    font-size: 1.7rem;
    font-weight: 800;
    color: #e26800;
}
#wrap .btn .section1_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    margin: -6rem 1.5rem 0;
    border: 1px solid #eff5fa;
    border-radius: 1rem;
    background-color: #fff;
}
#wrap .section1_1 p {
    font-size: 1.7rem;
    font-weight: 800;
    color: #486888;
}
#wrap .btn {
    font-size: 1.7rem;
    font-weight: 800;
    color: #486888;
    align-items: center;
}
#wrap .btn img {
    width: 7%;
    margin-left: 8px;
}
#wrap .section1_1 .right {
}
#wrap .section1_1 .right img {
    width: 50px;
}
#wrap .section2 {
    margin-top: 5rem;
}
#wrap .section2 h3 {
    font-size: 1.7rem;
    font-weight: 800;
    color: #486888;
}
#wrap .section2 .section2_1 {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    justify-content: space-between;
    gap: 1.5rem;
    position: relative;
}
#wrap .section2 .section2_1 a {
    border-radius: 1rem;
    background-color: #effce8;
    padding: 2rem 4rem 9rem 1.5rem;
    font-size: 1.7rem;
    font-weight: 800;
    color: #5b5b5b;
    display: flex;
    align-items: flex-start;
    line-height: 1.3;
}
#wrap .section2 .section2_1 .a1 {
    width: 50%;
    background-image: url("../img/btn-icon-2.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) calc(100% - 20px);
}
#wrap .section2 .section2_1 .a2 {
    width: 50%;
    background-image: url("../img/btn-icon-3.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) calc(100% - 20px);
    text-wrap: nowrap;
}
#wrap .section2 .section2_2 {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    justify-content: space-between;
    gap: 1.5rem;
    position: relative;
}
#wrap .section2 .section2_2 a {
    border-radius: 1rem;
    background-color: #fff8ee;
    padding: 2rem 4rem 9rem 1.5rem;
    font-size: 1.7rem;
    font-weight: 800;
    color: #5b5b5b;
    display: flex;
    align-items: flex-start;
    line-height: 1.3;
}
#wrap .section2 .section2_2 .a1 {
    width: 50%;
    background-image: url("../img/btn-icon-4.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) calc(100% - 20px);
}
#wrap .section2 .section2_2 .a2 {
    width: 50%;
    background-image: url("../img/btn-icon-5.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) calc(100% - 20px);
}
#wrap .section2 a img {
    width: 8%;
    margin: 0.3rem 0 0 1rem;
}
#wrap .section3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    margin-top: 5rem;
}
#wrap .section3 h3 {
    font-size: 1.7rem;
    font-weight: 800;
    color: #486888;
}
#wrap .section3 a {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #e1eff9;
    border-radius: 0.5rem;
    color: #646566;
}
#wrap .section3 p {
    font-size: 1.5rem;
    color: #5e5e5e;
    font-weight: 600;
}
#wrap .qna {
    margin: 0 0 1.5rem;
}
#wrap .qna .q {
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.3;
    padding-right: 3rem;
    border: 1px solid #e0e2e9;
}
#wrap .qna.on .q {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}
#wrap .qna .q::after {
    content: '';
    background-image: url('../img/qna-arrow-down.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
#wrap .qna.on .q::after {
    background-image: url('../img/qna-arrow-up.png');
}
#wrap .qna .a {
    font-size: 1.7rem;
    font-weight: 500;
    padding: 2rem 1.5rem;
    border: 1px solid #e0e2e9;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    line-height: 1.5;
    color: #434343;
    display: none;
}
#wrap .qna.on .a {
    display: block;
}
#wrap .contents .swiper-slide {
    margin-top: 2rem;
}
#wrap .contents h3 {
    font-weight: 500;
    padding: 1.5rem;
    font-size: 1.7rem;
    line-height: 1.3;
    background-color: #cdd7e0;
    display: flex;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#wrap .contents h3 span {
    font-size: 1.5rem;
    color: #50504f;
    font-weight: 500;
    margin-left: 0.5rem;
    line-height: 1.3;
}
#wrap .contents div {
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid #ececec;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
#wrap .contents div p {
    font-size: 1.7rem;
    line-height: 1.3;
    color: #707970;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#wrap .box {
    margin: 1rem;
}
